/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
}

/* Heading */
h1 {
    color: #ff0000;
    font-size: 6rem;
    text-align: center;
    z-index: 10;
    line-height: 1;
}

/* Squares */
.square-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: #ff0000;
}

.square-wrapper p {
    font-size: 0.9rem;
    color: #ff0000;
    font-weight: normal;
    font-family: inherit;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    .square {
        width: 30px;
        height: 30px;
    }

    .square-wrapper p {
        font-size: 0.8rem;
    }
}
